mat-toolbar {
    margin:0;
    padding: 0;
    background-color: #fff;
}
.main-nav {
    display: flex;
    align-items: center;
}


.main-nav-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    background: rgb(2,0,36);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,25,112,1) 20%, rgba(255,18,18,1) 100%);
    background-clip: text;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.main-nav-logo {
    margin: 0 7px;
}


.main-nav-account {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.main-nav-isLoggedIn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.secondary-nav {
    background-color: var(--background-accent-color);
    height: 45px;
    // position: relative;
    // top: 0;
    // z-index: 10;
}
.nav-flex-container {
    height: 100%;
    width: 100%;
    display: flex;

}

.secondary-nav-button {
    padding-top: 5px;
    font-size: 1.1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0;
}

.blue-nav {
    background-color: rgba(25,25,112,1);
}

.active {
    border-bottom: red 2px solid;
}