.airport-container {
    display: flex;
    align-items: center;
    gap:5px;
}

.airport-secondary {
    font-size: 400;
    color: grey;
    font-size: .9rem;
}


// .airport-info {
//     display: flex;
//     flex-direction: column;
// }

// .airport-city {
//     font-size: .5rem;
// }

