<div class="booking-form-stepper">
    <form  [formGroup]="bookingForm" class="booking-form">
        <mat-horizontal-stepper class="mat-elevation-z5" [linear]="true" labelPosition="end">
            <mat-step errorMessage="Flight details in error">
                <ng-template matStepLabel>Flight Details</ng-template>
                <div class="step-container">
                    <div class="step"><booking-form-step1 [parentGroup]="bookingForm"></booking-form-step1></div>
                    <div class="step-button">
                        <button mat-button matStepperPrevious color="primary" class="hidden">
                            <mat-icon>arrow_back_ios</mat-icon>
                        </button>
                        <button mat-button matStepperNext color="primary">
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-step>
            <mat-step errorMessage="Flight insurance in error">
                <ng-template matStepLabel>Passenger Details</ng-template>
                <div class="step-container">
                    <div class="step"><booking-form-step2 [parentGroup]="bookingForm"></booking-form-step2></div>
                    <div class="step-button">
                        <button mat-button matStepperPrevious color="primary">
                            <mat-icon>arrow_back_ios</mat-icon>
                        </button>
                        <button mat-button matStepperNext color="primary">
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-step>
            <mat-step errorMessage="Flight insurance in error">
                <ng-template matStepLabel>Flight Booking</ng-template>
                <div class="step-container">
                    <div class="step proceed-section">
                        <mat-checkbox color="primary" formControlName="insuranceTaken">
                            Would you like to insure your flight ?
                        </mat-checkbox>
                        <div class="proceed-button">
                            <button mat-raised-button class="accent-color ">Proceed to Booking</button>
                        </div>
                    </div>
                    <div class="step-button">
                        <button mat-button matStepperPrevious color="primary">
                            <mat-icon>arrow_back_ios</mat-icon>
                        </button>
                        <button mat-button matStepperNext color="primary" class="hidden">
                            <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </form>
</div>

