.step-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.proceed-section {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.proceed-button {
    width: 50%;
    height: 40px;
    justify-self: flex-end;
    display: flex;
}

.step-button {
    justify-self: center;
    display: flex;
}

.hidden {
    opacity: 0;
    cursor: default;
}

::ng-deep .mat-raised-button {
    min-width: 75px;
}

:host ::ng-deep .mat-horizontal-stepper-header-container {   
    display: none; 
}



