<div [formGroup]="parentGroup">
    <div formGroupName="travelStep" class="form-step-1">
        <mat-form-field  [style.width.px]=330>
            <input type="text" placeholder="Departing from " aria-label="Departure" matInput 
                [matAutocomplete]="selectAirportDeparture" #searchDeparture 
                (keyup)="searchAirports(searchDeparture.value)" (click)="searchAirports()"
                formControlName="departure" required>
            <mat-autocomplete #selectAirportDeparture="matAutocomplete">
              <!-- <mat-option *ngFor="let airport of airportsSearchList$ | async" [value]="airport.countryname + ' - ' + airport.name"> -->
                <mat-option *ngFor="let airport of airportsSearchList$ | async" [value]="airport.code">
                <airport-option [airport]="airport"></airport-option>
              </mat-option>
            </mat-autocomplete>
        
            <!-- <mat-error *ngFor="let validation of validation_msgs.phoneLabelAutocompleteControl">
              <div *ngIf="phoneLabelAutocompleteControl.hasError(validation.type)">
                {{validation.message}}
              </div>
            </mat-error> -->
        </mat-form-field>
        <mat-form-field [style.width.px]=330>
            <input type="text" placeholder="Arriving at " aria-label="Departure" matInput 
            [matAutocomplete]="selectAirportArrival" #searchArrival [style.width.px]=350 
            (keyup)="searchAirports(searchArrival.value)" (click)="searchAirports()"
            formControlName="arrival" required>
            <mat-autocomplete #selectAirportArrival="matAutocomplete">
                <!-- <mat-option *ngFor="let airport of airportsSearchList$ | async" [value]="airport.countryname + ' - ' + airport.name"> -->
                  <mat-option *ngFor="let airport of airportsSearchList$ | async" [value]="airport.code">
                    <airport-option [airport]="airport"></airport-option>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
            <input class="form-component" matInput formControlName="travelDates" placeholder="Travel dates" [matDatepicker]="releasedAtPicker"/>
            <mat-datepicker-toggle matSuffix [for]="releasedAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #releasedAtPicker [dateClass]="dateClass">
            </mat-datepicker>
        </mat-form-field>
    </div>
</div>


